.job-details-main {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
}
.job-item {
  width: 80%;
  margin-top: 50px;
}
h4 {
  color: #ffffff;
}
.description {
  font-size: 15px;
}
.visit-link-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.visit-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b6c5ff;
  font-size: medium;
  font-weight: 500;
  width: 52px;
  text-decoration: none;
}
.ul-skill-card {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-left: -40px;
}
.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}
.list-img {
  height: 40px;
  margin-right: 10px;
}
.life-at-com {
  display: flex;
  width: 100%;
}
.com-img {
  margin-left: 10px;
  border-radius: 5px;
}
.com-des {
  font-size: 15px;
}
.ul-sjobs {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
}
.list-sJob {
  min-width: 20%;
  max-width: 30%;
  flex-grow: 1;
  margin-right: 20px;
  border-color: #636363;
  border-radius: 10px;
  border-width: 0.1px;
  border-style: solid;
  padding: 10px;
  margin: 5px;
}
.similar-job-des {
  font-size: small;
  font-weight: 400;
}
.location-emp-card1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: black;
}
.failure-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: black;
}
@media (max-width: 512px) {
  .job-item {
    width: 80%;
    margin-top: 10px;
  }
  .life-at-com {
    display: flex;
    flex-direction: column;
  }
  .com-img {
    border-radius: 5px;
  }
  .list-sJob {
    max-width: 100%;
  }
  .package-type-loc1 {
    font-weight: 400;
    font-size: 10px;
  }
  h4 {
    font-size: 12px;
  }
  .package-type-loc {
    font-weight: 500;
    font-size: 13px;
  }
  .rating {
    font-size: 13px;
  }
  .title {
    font-size: 15px;
  }
  .com-des {
    font-size: 12px;
  }
  .visit-link {
    font-size: 12px;
    width: 40px;
  }
  .description {
    font-size: 12px;
  }
}
